global
    maxconn 1024

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

listen stats
    mode http
    bind *:7000
    stats enable
    stats uri /

listen pgprimary
    bind *:5000
    option httpchk OPTIONS /primary
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg-0 pg-0:5432 maxconn 200 check port 8008
    server pg-1 pg-1:5432 maxconn 200 check port 8008
    server pg-2 pg-2:5432 maxconn 200 check port 8008
    server pg-3 pg-3:5432 maxconn 200 check port 8008

listen pgreplica
    bind *:5001
    balance roundrobin
    option httpchk OPTIONS /replica
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions

    server pg-0 pg-0:5432 maxconn 200 check port 8008
    server pg-1 pg-1:5432 maxconn 200 check port 8008
    server pg-2 pg-2:5432 maxconn 200 check port 8008
    server pg-3 pg-3:5432 maxconn 200 check port 8008
